* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  color : grey;
  font-size: 1.2 rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1 px solid grey;
  border-radius: 6 px;
  margin-bottom: 10 px;
  margin-right: 10 px;
  overflow: hidden;
}

.card p{
  padding: 5 px;
  text-align: center; 
}

.card img {
  max-height: 170 px;
}
